* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, "Permanent Marker", cursive, sans-serif;
  font-size: 15px;
  color: #222222;
  line-height: 1.3;
  color: #222222;
}

header {
	width: 100%;
	margin: 0 auto;
}

section {
	padding: 50px;
  	height: 400px;
	background-image: url("../images/photobanner.png");
	background-size: cover;
  	background-repeat: no-repeat;
  	background-position: center;
}

h1 {
	float: left;
	display: inline-block;
	margin-left: 100px;
	font-family: "Permanent Marker", cursive;
	font-size: 40px;
	position: relative;
	left: 50px;
	bottom: 20px;
}

h2 {
	width: 290px;
	display: inline-block;
	font-family: "Permanent Marker", cursive;
	padding: 20px 0 20px;
}

h3 {
	color: #cccccc;
	font-family: "Permanent Marker", cursive;
	padding: 10px 0 10px;
	border-bottom-style: dotted; 
	border-color: #666666;
}

ul {
	list-style: none;
}

ul a {
	text-decoration: none;
}

li {
	border-bottom-style: dotted; 
	border-color: #666666;
}

footer {
	clear: auto;
	display: inline-block;
	width: 100%;
	background-color: #222222;
	/*padding-bottom: 50px;*/
	height: 300px;
	margin-left: auto;
	margin-right: auto;
}

blockquote {
	width: 960px;
	border-style: solid;
	border-color: #eeeeee; 
	clear: auto;
	padding: 20px;
	display: inline-block;
	margin-top: 20px;
	font-family: Arial;

}

article img {
	border-style: solid;
	border-color: #eeeeee;
}

article a {
	text-decoration: none;
}

article p {
	padding-top: 10px;
	padding-bottom: 10px;
}

#topnav {
	background-color: #222222;
	width: 100%;
	overflow: auto;
	text-align: center;
}

#topnav a {
	float: left;
	display: inline-block;
	color: #cccccc;
	width: 90px;
	text-align: center;
	padding: 30px 3px 30px;
	text-decoration: none;
	margin-left: auto;
	margin-right: auto;	
	position: relative;
	left: 200px;
}

#topnav a:hover{
	background-color: #1FA2E1;
}

#titlespace {
	width: 960px;
}

#social {
	float: right;
	padding-right: 170px;
	display: inline-block;
	/*position: relative;*/
	bottom: 20px;
}

#size1, #size2 {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	/*clear: both;*/
}

#size2 {
	background-color: #222222;
	color: #aaaaaa;
	margin-top: 20px;
	clear: both;
}

#article {
	display: block;
}

#article1, #article2, #article3 {
	width: 290px;
	float: left;
	padding-right: 30px;
	padding-bottom: 30px;
}

#widget1, #widget3 {
	float: left;
	width: 210px;
	padding-right: 30px;
	display: block;
}

#widget2 {
	float: left;
	width: 400px;
	padding-right: 20px;
}

#end {
	width: 960px;
	float:left;
	color: #aaaaaa;
	display: block;
}

#copyright p {
	float:left;
	display: inline-block;
}

#slogan p {
	float:right;
	display: inline-block;
}

.col_container {
	display: table;
	width: 100%;
}
.col {
	display: block;
	width: 100%;
}



