* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, "Permanent Marker", cursive, sans-serif;
  font-size: 15px;
  color: #222222;
  line-height: 1.3;
  color: #222222;
}

header {
	width: 100%;
	margin: auto;
}
nav {
	background-color: #222222;
	width: 100%;
	padding-left: 80px;
}

nav a {
	width: 80px;
	color: #cccccc;
	text-decoration: none;
	display: inline-block;
	margin: 30px;
	padding: -10px;
}

nav a:hover{
	color:#1fA2E1;
	background-color: #222222;
}

section {
	padding: 50px;
  	height: 400px;
	background-image: url("../images/photobanner.png");
	background-size: cover;
  	background-repeat: no-repeat;
  	background-position: center;

}
h1 {
	float: left;
	display: block;
	font-family: "Permanent Marker", cursive;
}

h2 {
	width: 290px;
	font-family: "Permanent Marker", cursive;
}

#titlespace {
	width: 960px;
	margin-left: 50px;
}

#social {
	float: right;
}

#articles {
	background-color: #eeeeee;
}

#size1 {
	height: px;
}

blockquote {
	width: 960px;
	border-style: solid;
	border-color: #eeeeee; 
}

#article1, #article2, #article3 {
	/*border-style: solid;*/
	/*border-color: #eeeeee;*/
	width: 290px;
	font-size:;
	float: left;

}


